body{
    background-color: rgb(118, 143, 163);
}
#container {
    position: relative;
}


#player1, #player2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#player1 {
    background-color: blue;
    top: 0px;    
}

#player2 {
    background-color: blueviolet;
    bottom: 0px;
}


#ball {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}


#score{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(247, 242, 0);
    opacity: 0.5;
}